*{
    font-family : Helvetica,Arial, sans-serif;
}

body {
    padding: 60px;
    background-color: #212121;
    text-align: center;
   
}

input{
    color: black;
    font-size: 1.2rem;
    width: 100%;
    background-color: rgb(156, 147, 147);
}
h2, ol {
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0) !important;
}

h2{
    padding: 100px;
    font-size: 7vw;
}
header {
    justify-content: center;
    min-height: 300px;
    max-height: 300px;
    max-width: auto;
    background-image: url(../src/gif/giphy.gif);
    background-position: center;
    background-size: 1248px;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    opacity: 0.7;
    margin-bottom: 40px;
    margin-top: -90px;
    

}

.card{
    border: 1px solid grey;
    border-radius: 6px;
    box-shadow: 10px 0px 10px 0px rgba(61, 65, 61, 0.39);
    max-height: 250px;
    min-height: 250px;
    background-color: rgba(34, 7, 7, 0.199);
    overflow: hidden;
    
}


.card p{
    padding: 5px;
    text-align: center;
    font-size: 2vh;
    overflow: hidden;
  
}

.card img{
    align-items: center;
    max-height: 150px;
    min-height: 150px;
    max-width: 95%;
    min-width: 95%;
    margin-top: 20px;
    overflow: hidden;
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
}

.card:hover img{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
} 

.card-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%  ;
    justify-content: center;
    grid-gap: 12px;
    
}
.buscar {
    color: rgb(156, 147, 147);
    font-size: 6vh;

}

h1, h2, h3, h4, h5, p {
    color: rgb(156, 147, 147);
}
@media(max-width: 700px ){
    .card-grid{
        display: grid;
        grid-template-columns: 50% 50%  ;
        justify-content: center;
        grid-gap: 12px;
        
    }
    body {
        padding: 20px;
        background-color: #212121;
       
    }
    ol{
        padding: 10px;
    }

}

@media(max-width: 480px){
    .card-grid{
        display: grid;
        grid-template-columns: 90%  ;
        justify-content: center;
        grid-gap: 12px;
        
    }
    body {
        padding: 20px;
        background-color: #212121;
       
    }
    ol{
        padding: 10px;
    }
    
}

